/* =========Style-main========= */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  flex-grow: 1;
}
img {
  display: block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  max-width: 320px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media only screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
/* =========/ Style-main========= */

/* =========Style-header-menu========= */
.menu,
.address {
  display: none;
}
.logo {
  color: #4d5ae5;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.text-style {
  color: #2e2f42;
}
.mobile-menu-btn {
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 0;
  fill: #2f2f37;
}
.heder-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.page-header {
  padding-top: 16px;
  padding-bottom: 16px;
}
/*======================mobil-menu====================*/
.mobil-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
}
.mobile-menu-btn-clos {
  position: absolute;
  display: flex;
  top: 24px;
  right: 24px;
  padding: 0;
  line-height: 0;
  width: 24px;
  height: 24px;
  fill: #2e2f42;
  background-color: transparent;
  border: 1px solid rgba(231, 233, 252, 1);
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}
.menu-nav-ul {
  display: flex;
  flex-direction: column;
  gap: 40px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  margin-top: 72px;
  margin-bottom: 168px;
}
.menu-nav-adress {
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 48px;
}
.menu-nav-ul-li:hover,
.menu-nav-adress-li:hover {
  color: #404bbf;
}
.menu-nav-social-link {
  display: flex;
  gap: 40px;
}

.team-social-li {
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(77, 90, 229, 1);
  align-items: center;
  justify-content: center;
}
